---
export interface Props {
  prevUrl?: string;
  nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<style lang="scss">
.nav {
  flex: 1;
  max-width: var(--max-width);
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.prev,
.next {
  display: block;
  text-transform: uppercase;

  &[href="#"] {
    display: none;
  }
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}
</style>

<div class="flex">
  <nav class="nav">
    <a class="prev" href={prevUrl || '#'} aria-label="Previous Page">Prev</a>
    <a class="next" href={nextUrl || '#'} aria-label="Next Page">Next</a>
  </nav>
</div>
